body {
    margin: 0;
    padding: 0;
}


main {
    padding: 16px;
}


footer {
    font-size: 1em;
    padding: 2em;
    background-color: goldenrod;
}


img {
    height: 200px;
}


nav {
    color: goldenrod;
    border-bottom: 1px solid goldenrod;
    padding: 16px;
    background-color: purple;
}


nav a:visited {
    color: goldenrod;
}


a {
    text-decoration: none;
    color: blueviolet;
}


.grid_container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
  }


  h1 {
    color: blueviolet;
  }


  .recipe-table tr:nth-child(even) {
    background-color: lightgray;
  }
